@font-face { font-family:noto; src:url(http://tonghs-cdn-static.qiniudn.com/NotoSansHans-Light.otf);}

*{
    font-family: noto, Helvetica, 'Microsoft Yahei Light', Arial ;
}

body{
    font-size: 14px;
}

.margin-auto{
    margin: auto;
}

.t-align-c{
    text-align: center;
}


/***** 重写 bootstrap ******/

.navbar-default{
    background-color: #fafafa;
}
.navbar{
    margin-bottom: 0;
    position: fixed;
    width: 100%;
}
.jumbotron{
    min-height: 500px;
    margin-bottom: 0px;
}
/*    min-height: 80px; */

