.container .item{
    font-size: 18px;
    line-height: 33px;
    padding-left: 32px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: left center;
}

#phone{
    background-image: url(http://7xnqki.com2.z0.glb.clouddn.com/img/phone.png?imageMogr2/thumbnail/x60);
    background-size: auto 20px;
}
#mail{
    background-image: url(http://7xnqki.com2.z0.glb.clouddn.com/img/mail.png?imageMogr2/thumbnail/x60);
    background-position: 1px center;
    background-size: auto 25px;
}

#location{
    background-image: url(http://7xnqki.com2.z0.glb.clouddn.com/img/location.png?imageMogr2/thumbnail/x60);
    background-position: 4px center;
    background-size: auto 25px;
    margin-bottom: 25px;
}

#weibo{
    background-image: url(http://7xnqki.com2.z0.glb.clouddn.com/img/Weibo.png?imageMogr2/thumbnail/x60);
    background-size: auto 25px;
}

#tweibo{
    background-image: url(http://7xnqki.com2.z0.glb.clouddn.com/img/tweibo.png?imageMogr2/thumbnail/x60);
    background-size: auto 25px;
}

.iw_poi_title {
    color:#CC5522;
    font-size:14px;
    font-weight:bold;
    overflow:hidden;
    padding-right:13px;
    white-space:nowrap
}
.iw_poi_content {
    font:12px arial,sans-serif;
    overflow:visible;
    padding-top:4px;
    white-space:-moz-pre-wrap;
    word-wrap:break-word
}
