#home{
    background-color: #000;
    background-image: url(http://www.uniqueway.com/assets/welcome/welcome_banner-29b0aa78eac9329b9d505c377a994c14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 600px;
}

#home-flower{
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://dn-sunflower-media.qbox.me/img/sunflower.png);
    margin-top: -250px;
    margin-bottom: -250px;
    background-color: transparent;

}

.odd-home{
    background-color: #f3f2f8;
}

.even-home{
    background-color: #fafafa;
}

#home-p-content{
    letter-spacing: 20px;
    font-size: 30px;
    margin-top: 60px;
}

#home-p{
    margin-top: 100px;
}

#home-logo{
    background-image: url(https://dn-sunflower-media.qbox.me/img/logo-white.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 200px;
}

#second-item{
    background: transparent;
}
