#home{
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 630px;
}

#program-desc{
    font-size: 50px;
    margin-top: 120px;
}

#program-desc-sub{
    font-size: 20px;
    width: 65%;
    margin: auto;
    padding-top: 10px;
}

#btn-reg-container{
    margin-top: 60px;
}

#btn-reg-container #btn-reg{
    background-color: #f4f4fc;
    border-radius: 27px;
    padding: 18px 65px;
    font-size: 20px;
    color: #223d4e;
}

#btn-reg-container #btn-reg:hover{
    background-color: #E5E5F9;
}

.home-item{
   box-shadow: 0 0 1px 1px #ccc;
   background-color: #fff;
   color: #616161;
   margin: auto;
   margin-bottom: 30px;
}

.home-item .item-content{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.home-item .item-title{
    width: 100%;
    padding: 5px;
    text-align: center;
}

.home-item .item-title .item-title-p{
    font-weight: bold;
    font-size: 15px;
}

.home-item .item-title .item-title-s{
    font-size: 10px;
    display: block;
    width: 80%;
    margin: auto;
}

#news .item-content{
    height: 310px;
}

#startups .item-content{
    height: 300px;
}

#fund .item-content{
    height: 240px;
}

#video .item-content{
    height: 320px;
}

@media (min-width: 768px){
    #startups{
        width: 370px;
        margin-top: -60px;

    }
    #video{
        width: 620px;
        margin-top: -60px;

    }
}
@media (max-width: 768px){
    #startups{
        width: 370px;
    }
    #video{
        width: 620px;
    }
}

#news{
    width: 300px;
}
#fund{
    width: 240px;
}

.play{
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_play_circle_fill_48px-128.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100px;
    height: 320px;
    width: 622px;
    margin: auto;
    margin-top: -398px;
    cursor: pointer;
        transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
-webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
     -o-transition: all 0.3s ease-out;
}
.play:hover{
    background-color: rgba(255, 255, 255, 0.3);
        transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
-webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
     -o-transition: all 0.3s ease-out;
}
