#home{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}


h3{
    margin-top: 45px;
}

hr{
    width: 120px;
    border-bottom: #ccc 1px dashed;
}

.btn{
    margin-top: 30px;
    margin-bottom: 50px;
}

