#msg{
    background-image: url(https://7xk1xj.com1.z0.glb.clouddn.com/img/mark.png?imageMogr2/thumbnail/x512);
    background-size: 256px;
    background-repeat: no-repeat;
    background-position: center 0px;
    padding-top: 215px;
}

#msg span.title{
    font-size: 30px;
}

#tip{
    font-size: 18px;
}

#back-container{
    margin-top: 20px;
}

