.main{
    padding-top: 50px;
}
#news{
    width: 980px;
    margin: auto;
    box-shadow: 0 0 1px 0 #eee;
    border: 1px solid #eee;
    padding-bottom: 20px;
}

#news h3{
    text-align: center;
    font-size: 30px;
}

#news .item{
    margin: 25px 0 30px;
    padding: 0 50px;
}

#news .item .title{
    font-size: 23px;
    font-weight: bold;
}

#news .item .title a{
    color: #000;
}

#news .item .title a:hover{
    color: #999;
}
#news .item .time{
    color: #999;
    padding: 8px 0;
}

#news .item .content{
    line-height: 23px;

}
@media (max-width: 1001px){
    #news{
        width: 100%;
        margin: auto;
        box-shadow: 0 0 1px 1px #eee;
        border: 1px solid #eee;
    }
    #news .item{
        margin: 20px 0 20px;
        padding: 0 10px;
    }
}

.img{
    float: left;
    margin-right: 18px;
}
.img img{
    width: 200px;
    height: 120px;
}

.ico{
    padding-right: 30px;
    font-size: 19px;
    float: right;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 22px;
}
