#news{
    padding-bottom: 20px;
}

#news .item{
    margin-top: 20px;
}

#news .item .title{
    font-size: 18px;
}

#news .item .title a{
    color: #000;
}

#news .item .title a:hover{
    color: #999;
}
#news .item .time{
    color: #999;
    padding: 2px 0 8px;
}

#news .item .content{
    line-height: 23px;
    border: 0;
    box-shadow: 0 0 0 0;
    padding: 0;

}
@media (max-width: 1001px){
    #news{
        width: 100%;
        margin: auto;
        box-shadow: 0 0 1px 1px #eee;
        border: 1px solid #eee;
    }
    #news .item{
        margin: 20px 0 20px;
        padding: 0 10px;
    }
}

.img{
    float: left;
    margin-right: 18px;
}
.img img{
    width: 200px;
    height: 120px;
}

.ico{
    padding-right: 30px;
    font-size: 18px;
    float: right;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 22px;
    margin-top: 15px;
}
