<%!
    from tornado.escape import json_encode
%>
<%inherit file="../_base.html" />
<%block name="title_">
网站信息设置
</%block>
<%block name="css">
    <link href="${STATIC_HOST}/css/admin/settings.css" rel="stylesheet">
</%block>
<div class="" ng-app="SettingsApp">
    <form ng-controller="SettingsCtrl">
        <h2 class="t-align-c">网站信息设置</h2>
        <div class="form-group">
            <label for="home_img">网站首页头图</label>
            <input type="text" ng-model="o.home_img" class="form-control" id="home_img" name="home_img" placeholder="网站首页头图">
        </div>
        <div class="form-group">
            <label for="porogram_img">一起投节目图</label>
            <input type="text" ng-model="o.program_img" class="form-control" id="program_img" name="program_img" placeholder="一起投节目图">
        </div>
        <div class="form-group">
            <label for="phone">电话</label>
            <input type="phone" class="form-control" ng-model="o.phone" id="phone" name="phone" placeholder="电话">
        </div>
        <div class="form-group">
            <label for="mail">邮箱</label>
            <input type="text" class="form-control" ng-model="o.email" id="email" name="email" placeholder="邮箱">
        </div>
        <div class="form-group">
            <label for="weixin">微信</label>
            <input type="text" class="form-control" ng-model="o.weixin" id="weixin" name="weixin" placeholder="微信">
        </div>
        <div class="form-group">
            <label for="weixin">一块投吧节目微信</label>
            <input type="text" class="form-control" ng-model="o.program_weixin" id="program_weixin" name="program_weixin" placeholder="一块投吧节目微信">
        </div>
        <div class="form-group">
            <label for="weibo">微博</label>
            <input type="text" class="form-control" ng-model="o.weibo" id="weibo" name="weibo" placeholder="微博">
        </div>
        <div class="form-group">
            <label for="logo">公司logo</label>
            <input type="text" class="form-control" ng-model="o.logo" id="logo" name="logo" placeholder="公司logo">
        </div>
        <div class="form-group">
            <label for="desc">公司简介</label>
            <textarea class="form-control" rows="5" id="desc" ng-model="o.desc" name="desc" placeholder="公司简介"></textarea>
            ##<span ng-bind-html="o.desc | deal_str"></span>
        </div>
        <div class="form-group">
            <label for="founder">创始人简介</label>
            <textarea class="form-control" rows="5" id="founder" ng-model="o.founder" name="founder" placeholder="创始人简介"></textarea>
        </div>
        <div class="form-group">
            <label for="founder_img">创始人图片</label>
            <input type="text" class="form-control" ng-model="o.founder_img" id="founder_img" name="founder_img" placeholder="创始人图片">
        </div>
        <button type="button" ng-click="submit()" class="btn btn-primary">保存</button>
    </form>
</div>
</div>
<%block name="js">
    <script src="${STATIC_HOST}/js/admin/settings.js"></script>
    <script>
        def_settings_view(${json_encode(o) | n});
    </script>
</%block>
