<%!
    from model import const
%>
<%inherit file="../_base.html" />
<%block name="title_">
一块投报名通道
</%block>
<%block name="css">
    <link href="${STATIC_HOST}/css/reg.css" rel="stylesheet">
</%block>
<div class="container main" ng-app="RegApp">
    <h2 class="t-align-c">一块投吧报名通道</h2>
    <form ng-controller="RegCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">创始人简介</h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td><label for="name">姓名: </label></td>
                        <td><input type="text" class="form-control " id="name" name="name" ng-model="o.name"  placeholder="姓名"></td>

                        <td><label for="name">性别: </label></td>
                        <td>
                            <label class="radio-inline f-left">
                                <input type="radio" ng-model="o.sex" name="sex" id="male" value="1"> 男
                            </label>
                            <label class="radio-inline f-left">
                                <input type="radio" ng-model="o.sex" name="sex" id="female" value="2"> 女 
                            </label>
                        </td>
                        <td><label for="age">年龄: </label></td>
                        <td><input type="text" class="form-control " id="age" name="age" ng-model="o.age"  placeholder="年龄"></td>
                        <td><label for="blood">血型: </label></td>
                        <td>
                            <select ng-model="o.blood" class="form-control">
                                % for o in const.BLOOD:
                                <option value="${o.value}">${const.BLOOD_CN.get(o.value)}</option>
                                % endfor
                            </select>
                        </td>
                        <td width="230" rowspan="5">
                            <div id="ico">&nbsp;</div>
                            <button type="button" id="ico_up" class="btn btn-info">点此上传头像</button>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="tall">身高: </label></td>
                        <td><input type="text" class="form-control " id="tall" name="tall" ng-model="o.tall"  placeholder="身高/cm"></td>
                        <td><label for="weight">体重: </label></td>
                        <td><input type="text" class="form-control " id="weight" name="weight" ng-model="o.weight"  placeholder="体重/kg"></td>
                        <td><label for="nation">民族: </label></td>
                        <td><input type="text" class="form-control" id="nation" name="nation" ng-model="o.nation"  placeholder="民族"></td>
                        <td><label for="birthday">出生日期: </label></td>
                        <td><input type="text" class="form-control" id="birthday" name="birthday" ng-model="o.birthday"  placeholder="出生日期"></td>
                    </tr>
                    <tr>
                        <td><label for="marry">婚否: </label></td>
                        <td>
                            <label class="radio-inline f-left">
                                <input type="radio" ng-model="o.marry" name="marry" id="marry" value="0"> 未婚
                            </label>
                            <label class="radio-inline f-left">
                                <input type="radio" ng-model="o.marry" name="marry" id="marry" value="1"> 已婚
                            </label>
                        </td>
                        <td><label for="id">身份证: </label></td>
                        <td><input type="text" class="form-control " id="id" name="id" ng-model="o.id"  placeholder="身份证号"></td>
                        <td><label for="phone">手机: </label></td>
                        <td><input type="text" class="form-control " id="phone" name="phone" ng-model="o.phone"  placeholder="手机"></td>
                        <td><label for="email">Email: </label></td>
                        <td><input type="text" class="form-control " email="email" name="email" ng-model="o.email"  placeholder="身份证号"></td>
                    </tr>
                    <tr>
                        <td><label for="localtion">籍贯: </label></td>
                        <td colspan="7"><input type="text" class="form-control " id="location" name="location" ng-model="o.location"  placeholder="身份证号"></td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <label  style="float: left; margin-bottom: 5px;" for="exp">工作/创业经历: </label>
                            <textarea class="form-control " id="exp" name="exp" ng-model="o.exp"  placeholder="工作/创业经历"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">教育经历</h3>
            </div>
            <div class="panel-body panel-content">
                <div class="form-inline">
                    <div ng-repeat="edu in o.edu">
                        <div class="form-group">
                            <label for="edu_start_date">日期: </label>
                            <input type="text" class="form-control" name="edu_start_date" ng-model="edu.start_date"  placeholder="开始日期">
                            <label for="edu_end_date">至</label>
                            <input type="text" class="form-control" name="edu_end_date" ng-model="edu.end_date"  placeholder="结束日期">
                            <label for="edu_school">学校: </label>
                            <input type="text" class="form-control" name="edu_school" ng-model="edu.school"  placeholder="学校">
                            <label for="edu_major">专业: </label>
                            <input type="text" class="form-control" name="edu_major" ng-model="edu.major"  placeholder="专业">
                            <label for="edu_degree">专业: </label>
                            <select ng-model="edu.degree" class="form-control">
                                % for o in const.DEGREE:
                                <option value="${o.value}">${const.DEGREE_CN.get(o.value)}</option>
                                % endfor
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edu_start_date">日期: </label>
                        <input type="text" class="form-control" id="edu_start_date" name="edu_start_date" ng-model="o.edu_.start_date"  placeholder="开始日期">
                        <label for="edu_end_date">至</label>
                        <input type="text" class="form-control" id="edu_end_date" name="edu_end_date" ng-model="o.edu_.end_date"  placeholder="结束日期">
                        <label for="edu_school">学校: </label>
                        <input type="text" class="form-control " id="edu_school" name="edu_school" ng-model="o.edu_.school"  placeholder="学校">
                        <label for="edu_major">专业: </label>
                        <input type="text" class="form-control " id="edu_major" name="edu_major" ng-model="o.edu_.major"  placeholder="专业">
                        <label for="edu_degree">专业: </label>
                        <select ng-model="o.edu_.degree" class="form-control">
                            % for o in const.DEGREE:
                            <option value="${o.value}">${const.DEGREE_CN.get(o.value)}</option>
                            % endfor
                        </select>
                        <button type="button" ng_click="edu_add()" class="btn btn-info">添加</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">团队介绍</h3>
            </div>
            <div class="panel-body panel-content">
                <div>
                    <div class="form-group">
                        <div class="row">
                            <div ng-repeat="team in o.team"class="col-lg-3 t-align-l">
                                <div>{{team.name}}·{{team.title}}</div>
                                <div>{{team.desc}}</div>
                                <div>{{team.story}}</div>
                            </div><!-- /.col-lg-3 -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="team_name">姓名: </label>
                        <input type="text" class="form-control" name="team_name" ng-model="o.team_.name"  placeholder="姓名">
                    </div>
                    <div class="form-group">
                        <label for="team_title">职位: </label>
                        <input type="text" class="form-control" name="team_title" ng-model="o.team_.title"  placeholder="职位">
                    </div>
                    <div class="form-group">
                        <label for="localtion">简介: </label>
                        <textarea class="form-control " id="team_desc" name="team_desc" ng-model="o.team_.desc"  placeholder="简介"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="localtion">你和他/她的故事: </label>
                        <textarea class="form-control " id="team_story" name="team_story" ng-model="o.team_.story"  placeholder="你和他/她的故事"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" ng_click="team_add()" class="btn btn-info">添加</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">项目基本信息</h3>
            </div>
            <div class="panel-body panel-content">
                <div class="form-group">
                    <label for="startup_name">创业项目名称: </label>
                    <input type="text" class="form-control" name="startup_name" ng-model="o.startup.name"  placeholder="创业项目名称">
                </div>
                <div class="form-group">
                    <label for="startup_amount">预计融资金额: </label>
                    <input type="text" class="form-control" name="startup_amount" ng-model="o.startup.amount"  placeholder="预计融资金额">
                </div>
                <div class="form-group">
                    <label for="startup_stock">出让股权比例: </label>
                    <input type="text" class="form-control" name="startup_stock" ng-model="o.startup.stock"  placeholder="出让股权比例">
                </div>
                <div class="form-group">
                    <label for="startup_purpose">资金用途: </label>
                    <textarea class="form-control" id="startup_purpose" name="startup_purpose" ng-model="o.startup.purpose"  placeholder="资金用途"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_desc">创业项目描述: </label>
                    <textarea class="form-control" id="startup_desc" name="startup_desc" ng-model="o.startup.desc"  placeholder="创业项目描述"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_target">目标人群: </label>
                    <textarea class="form-control" id="startup_target" name="startup_target" ng-model="o.startup.target"  placeholder="目标人群"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_point">用户痛点: </label>
                    <textarea class="form-control" id="startup_point" name="startup_point" ng-model="o.startup.point"  placeholder="用户痛点"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_use">产品试用: </label>
                    <textarea class="form-control" id="startup_use" name="startup_use" ng-model="o.startup.use"  placeholder="项目网址或产品应用地址，测试帐号"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_advantage">项目优势: </label>
                    <textarea class="form-control" id="startup_advantage" name="startup_advantage" ng-model="o.startup.advantage"  placeholder="项目优势"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_pattern">商业模式: </label>
                    <textarea class="form-control" id="startup_pattern" name="startup_pattern" ng-model="o.startup.pattern"  placeholder="商业模式"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_sale">营销模式及推广渠道: </label>
                    <textarea class="form-control" id="startup_sale" name="startup_sale" ng-model="o.startup.sale"  placeholder="营销模式及推广渠道"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_finance">目前财务及预测: </label>
                    <textarea class="form-control" id="startup_finance" name="startup_finance" ng-model="o.startup.finance"  placeholder="目前财务及预测，毛利润、纯利润等"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_risk">项目风险: </label>
                    <textarea class="form-control" id="startup_risk" name="startup_risk" ng-model="o.startup.risk"  placeholder="项目风险"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_plan">项目进展规划: </label>
                    <textarea class="form-control" id="startup_plan" name="startup_plan" ng-model="o.startup.plan"  placeholder="盈利情况、用户数、下载量等相关数据，如有，请说明"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_equity">目前股权结构: </label>
                    <textarea class="form-control" id="startup_equity" name="startup_equity" ng-model="o.startup.equity"  placeholder="目前股权结构"></textarea>
                </div>
                <div class="form-group">
                    <label for="startup_sign">是否和券商签约: </label>
                    <br>
                    <label class="radio-inline f-left">
                        <input type="radio" ng-model="o.startup.sign" name="startup_sign" id="yes" value="1"> 是
                    </label>
                    <label class="radio-inline f-left">
                        <input type="radio" ng-model="o.startup.sign" name="startup_sign" id="no" value="0"> 否 
                    </label>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">关于创始人</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="about_me_interest">特长/业余爱好: </label>
                    <textarea class="form-control" id="about_me_interest" name="about_me_interest" ng-model="o.about_me.interest"  placeholder="特长/业余爱好"></textarea>
                </div>
                <div class="form-group">
                    <label for="about_me_idol">最崇拜的人: </label>
                    <textarea class="form-control" id="about_me_idol" name="about_me_idol" ng-model="o.about_me.idol"  placeholder="最崇拜的人"></textarea>
                </div>
                <div class="form-group">
                    <label for="about_me_dream">最大的梦想: </label>
                    <textarea class="form-control" id="about_me_dream" name="about_me_dream" ng-model="o.about_me.dream"  placeholder="最大的梦想"></textarea>
                </div>
                <div class="form-group">
                    <label for="about_me_motto">座右铭: </label>
                    <textarea class="form-control" id="about_me_motto" name="about_me_motto" ng-model="o.about_me.motto"  placeholder="座右铭"></textarea>
                </div>
                <div class="form-group">
                    <label for="about_me_competition">是否参加过校园创业大赛: </label>
                    <textarea class="form-control" id="about_me_competition" name="about_me_competition" ng-model="o.about_me.competition"  placeholder="是否参加过校园创业大赛，没有请留空"></textarea>
                </div>
                <div class="form-group">
                    <label for="about_me_expectance">参加节目最期待得到的是: </label>
                    <textarea class="form-control" id="about_me_expectance" name="about_me_expectance" ng-model="o.about_me.expectance"  placeholder="参加节目最期待得到的是"></textarea>
                </div>
                <div class="form-group">
                    <label for="about_me_exp">特殊经历/人生故事: </label>
                    <textarea class="form-control" id="about_me_exp" name="about_me_exp" ng-model="o.about_me.exp"  placeholder="特殊经历/人生故事"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<%block name="js">
    <script src="${STATIC_HOST}/js/reg.js"></script>
</%block>
