<%!
    from model import const
%>
<%inherit file="../_base.html" />
<%block name="title_">
一块投报名通道
</%block>
<%block name="css">
    <link href="${STATIC_HOST}/css/reg.css" rel="stylesheet">
</%block>
<div class="container main" ng-app="RegApp">
    <h2 class="t-align-c">一块投吧报名通道</h2>
    <form ng-controller="RegCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">创始人简介</h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td><label for="name">姓名: </label></td>
                        <td><input type="text" class="form-control " id="name" name="name" ng-model="o.name"  placeholder="姓名"></td>

                        <td><label for="name">性别: </label></td>
                        <td>
                            <label class="radio-inline f-left">
                                <input type="radio" ng-model="o.sex" name="sex" id="male" value="1"> 男
                            </label>
                            <label class="radio-inline f-left">
                                <input type="radio" ng-model="o.sex" name="sex" id="female" value="2"> 女 
                            </label>
                        </td>
                        <td><label for="age">年龄: </label></td>
                        <td><input type="text" class="form-control " id="age" name="age" ng-model="o.age"  placeholder="年龄"></td>
                        <td><label for="blood">血型: </label></td>
                        <td>
                            <select ng-model="o.blood" class="form-control">
                                % for o in const.BLOOD:
                                <option value="${o.value}">${const.BLOOD_CN.get(o.value)}</option>
                                % endfor
                            </select>
                        </td>
                        <td width="230" rowspan="4">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="tall">身高: </label></td>
                        <td><input type="text" class="form-control " id="tall" name="tall" ng-model="o.tall"  placeholder="身高/cm"></td>
                        <td><label for="weight">体重: </label></td>
                        <td><input type="text" class="form-control " id="weight" name="weight" ng-model="o.weight"  placeholder="体重/kg"></td>
                        <td><label for="nation">民族: </label></td>
                        <td><input type="text" class="form-control" id="nation" name="nation" ng-model="o.nation"  placeholder="民族"></td>
                        <td><label for="birthday">出生日期: </label></td>
                        <td><input type="text" class="form-control" id="birthday" name="birthday" ng-model="o.birthday"  placeholder="出生日期"></td>
                    </tr>
                    <tr>
                        <td><label for="marry">婚否: </label></td>
                        <td>
                            <label class="radio-inline f-left">
                                <input type="radio" ng-model="o.marry" name="marry" id="marry" value="0"> 未婚
                            </label>
                            <label class="radio-inline f-left">
                                <input type="radio" ng-model="o.marry" name="marry" id="marry" value="1"> 已婚
                            </label>
                        </td>
                        <td><label for="id">身份证: </label></td>
                        <td><input type="text" class="form-control " id="id" name="id" ng-model="o.id"  placeholder="身份证号"></td>
                        <td><label for="phone">手机: </label></td>
                        <td><input type="text" class="form-control " id="phone" name="phone" ng-model="o.phone"  placeholder="手机"></td>
                        <td><label for="email">Email: </label></td>
                        <td><input type="text" class="form-control " email="email" name="email" ng-model="o.email"  placeholder="身份证号"></td>
                    </tr>
                    <tr>
                        <td><label for="localtion">籍贯: </label></td>
                        <td colspan="7"><input type="text" class="form-control " location="location" name="location" ng-model="o.location"  placeholder="身份证号"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">教育经历</h3>
            </div>
            <div class="panel-body panel-content">
                <div class="form-inline">
                    <div ng-repeat="edu in o.edu">
                        <div class="form-group">
                            <label for="edu_start_date">日期: </label>
                            <input type="text" class="form-control" name="edu_start_date" ng-model="edu.start_date"  placeholder="开始日期">
                            <label for="edu_end_date">至</label>
                            <input type="text" class="form-control" name="edu_end_date" ng-model="edu.end_date"  placeholder="结束日期">
                            <label for="edu_school">学校: </label>
                            <input type="text" class="form-control" name="edu_school" ng-model="edu.school"  placeholder="学校">
                            <label for="edu_major">专业: </label>
                            <input type="text" class="form-control" name="edu_major" ng-model="edu.major"  placeholder="专业">
                            <label for="edu_degree">专业: </label>
                            <select ng-model="edu.degree" class="form-control">
                                % for o in const.DEGREE:
                                <option value="${o.value}">${const.DEGREE_CN.get(o.value)}</option>
                                % endfor
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edu_start_date">日期: </label>
                        <input type="text" class="form-control" id="edu_start_date" name="edu_start_date" ng-model="o.edu_.start_date"  placeholder="开始日期">
                        <label for="edu_end_date">至</label>
                        <input type="text" class="form-control" id="edu_end_date" name="edu_end_date" ng-model="o.edu_.end_date"  placeholder="结束日期">
                        <label for="edu_school">学校: </label>
                        <input type="text" class="form-control " id="edu_school" name="edu_school" ng-model="o.edu_.school"  placeholder="学校">
                        <label for="edu_major">专业: </label>
                        <input type="text" class="form-control " id="edu_major" name="edu_major" ng-model="o.edu_.major"  placeholder="专业">
                        <label for="edu_degree">专业: </label>
                        <select ng-model="o.edu_.degree" class="form-control">
                            % for o in const.DEGREE:
                            <option value="${o.value}">${const.DEGREE_CN.get(o.value)}</option>
                            % endfor
                        </select>
                        <button type="button" ng_click="edu_add()" class="btn btn-info">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    ##<form ng-controller="RegCtrl">
    ##    <h2 class="t-align-c">一块投报名通道</h2>
    ##    <div class="form-group">
    ##        <label for="name">联系人姓名</label>
    ##        <input type="text" ng-model="o.name" class="form-control" id="name" name="name" placeholder="联系人姓名">
    ##    </div>
    ##    <div class="form-group">
    ##        <label for="name">项目名称</label>
    ##        <input type="text" ng-model="o.startup_name" class="form-control" id="startup_name" name="startup_name" placeholder="项目名称">
    ##    </div>
    ##    <div class="form-group">
    ##        <label for="name">电话</label>
    ##        <input type="phone" class="form-control" ng-model="o.phone" id="phone" name="phone" placeholder="电话">
    ##    </div>
    ##    <div class="form-group">
    ##        <label for="name">邮箱</label>
    ##        <input type="text" class="form-control" ng-model="o.email" id="email" name="email" placeholder="邮箱">
    ##    </div>

    ##    <div class="form-group">
    ##        <label for="name">项目介绍</label>
    ##        <textarea class="form-control" rows="3" id="desc" ng-model="o.desc" name="desc"></textarea>
    ##    </div>
    ##    <button type="button" ng-click="submit()" class="btn btn-default">Submit</button>
    ##</form>
</div>
<%block name="js">
    <script src="${STATIC_HOST}/js/reg.js"></script>
</%block>
